.video-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #ccc;
  margin: 0;
  z-index: 10000;
}
.div-ui-container {
  position: fixed;
  width: 178vh;
  height: 100vh;
  margin: auto;
}
.dce-bg-loading {
  display: none;
  animation: 1s linear infinite dce-rotate;
  width: 40%;
  height: 40%;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  fill: #999;
}
.div-back-button {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #70889b;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: start;
  opacity: 0.85;
}
.div-back-button .back-btn {
  color: #0a1c59;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.dce-video-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.div-select-container {
  position: absolute;
  right: 0;
  top: 0;
}
.dce-sel-camera {
  display: block;
}
.dce-sel-resolution {
  display: block;
  margin-top: 5px;
}
@keyframes dce-rotate {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
